<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-show="isBrandShown" class="navbar-brand" href="/" ui-sref="base.index">cftvc</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in navItems">
                    <a href="#" ui-sref="{{item.link}}">{{item.label}}</a>
                </li>
            </ul>
            <!-- <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default">Go</button>
                    </span>
                </div>
            </form> -->
            <ul ng-show="isLoginShown" class="nav navbar-nav navbar-right">
                <li op-confirmation-needed>
                    <a href="/">登录</a>
                </li>
                <li class="signup-btn">
                    <a href="/">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>