<div class="avatar">
    <a href="#" ng-if="data.role === 'creator'" ui-sref="creatorProfile({id: data._id})">
        <img src="/static/images/user/avatars/{{data.avatarUrl}}" title="{{data.nickname}}" alt="{{data.nickname}}" width="{{avatar.radius}}" height="{{avatar.radius}}">
    </a>
    <a href="#" ng-if="data.role === 'actor'" ui-sref="actorProfile({id: data._id})">
        <img src="/static/images/user/avatars/{{data.avatarUrl}}" title="{{data.nickname}}" alt="{{data.nickname}}" width="{{avatar.radius}}" height="{{avatar.radius}}">
    </a>
</div>