<form class="form-horizontal" ng-submit="signup.submit()">
    <div class="form-group">
        <label for="height" class="col-sm-3 control-label">身高</label>
        <div class="col-sm-9">
            <input class="form-control" id="height" name="height" placeholder="" ng-model="signup.actor.height">
        </div>
    </div>
    <div class="form-group">
        <label for="weight" class="col-sm-3 control-label">体重</label>
        <div class="col-sm-4">
            <input class="form-control" id="weight" name="weight" placeholder="" ng-model="signup.actor.weight">
        </div>
    </div>
    <div class="form-group">
        <label for="chest" class="col-sm-3 control-label">三围</label>
        <div class="col-sm-3">
            <input class="form-control" id="chest" name="chest" placeholder="胸围" ng-model="signup.actor.chest">
        </div>
        <div class="col-sm-3">
            <input class="form-control" id="waist" name="waist" placeholder="腰围" ng-model="signup.actor.waist">
        </div>
        <div class="col-sm-3">
            <input class="form-control" id="hip" name="hip" placeholder="臀围" ng-model="signup.actor.hip">
        </div>
    </div>
    <div class="form-group">
        <label for="shoseSize" class="col-sm-3 control-label">鞋码</label>
        <div class="col-sm-9">
            <input class="form-control" id="shoseSize" name="shoseSize" placeholder="" ng-model="signup.actor.shoseSize">
        </div>
    </div>
    <div class="form-group">
        <label for="hairColor" class="col-sm-3 control-label">头发颜色</label>
        <div class="col-sm-9">
            <input class="form-control" id="hairColor" name="hairColor" placeholder="" ng-model="signup.actor.hairColor">
        </div>
    </div>
    <div class="form-group">
        <label for="eyeColor" class="col-sm-3 control-label">眼睛颜色</label>
        <div class="col-sm-9">
            <input class="form-control" id="eyeColor" name="eyeColor" placeholder="" ng-model="signup.actor.eyeColor">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 已阅读并同意
                </label>
                <a href="#" class=".clause">《cftvc服务条款》</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn-lg btn-default" type="submit">确定</button>
        </div>
    </div>
</form>