<form class="form-horizontal" ng-submit="signup.submit(croppedDataUrl, picFile2)">
    <div class="form-group">
        <label for="avatarUrl" class="col-sm-3 control-label">头像</label>
        <div class="col-sm-9">
            <button class="form-control" id="avatarUrl" name="avatarUrl" ngf-select ng-model="picFile" accept="image/*">选择图片</button>
            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea fl">
                <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
            </div>
            <div class="pre-avatar fr">
                <img ng-src="{{croppedDataUrl}}">
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="signup.user.role.name === 'actor'">
        <label for="avatarUrl" class="col-sm-3 control-label">全身照</label>
        <div class="col-sm-9">
            <button class="form-control" id="avatarUrl" name="avatarUrl" ngf-select ng-model="picFile2" accept="image/*">选择图片</button>
            <!-- <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
            </div> -->
            <div class="pre-view">
                <img ngf-src="picFile2" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn-lg btn-default" type="submit">确定</button>
        </div>
    </div>
</form>