<div class="base">
    <op-navbar nav-items="base.navItems" is-brand-shown="true" is-login-shown="true"></op-navbar>
    <div class="section">
        <section class="actor-section container">
            <div class="row">
                <h2 class="title col-sm-12 list-inline">
                    <span class="fl">推荐</span>
                    <div class="sub-title">
                        <div>艺人</div>
                        <div>Actor</div>
                    </div>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div op-slick infinite="true" responsive="base.actorCarouselResponsiveSettings" init-onload="true" data="base.actors" autoplay="true" speed="300" slides-to-show="4" slides-to-scroll="4" prev-arrow=".base .prev" next-arrow=".base .next">
                        <div class="slide" ng-repeat="actor in base.actors">
                            <op-actor-grid data="actor"></op-actor-grid>
                        </div>
                    </div>
                    <div class="slide-arrow prev"></div>
                    <div class="slide-arrow next"></div>
                </div>
            </div>
        </section>
        <section class="work-section container">
            <div class="row">
                <h2 class="title col-sm-12 list-inline">
                    <span class="fl">推荐</span>
                    <div class="sub-title">
                        <div>作品</div>
                        <div>Work</div>
                    </div>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="video in base.videos">
                    <op-work-grid data="video" ui-sref="videoDescription({id: video.id})"></op-work-grid>
                </div>
            </div>
        </section>
        <section class="creator-section container">
            <div class="row">
                <h2 class="title col-sm-12 list-inline">
                    <span class="fl">推荐</span>
                    <div class="sub-title">
                        <div>创作人</div>
                        <div>Creator</div>
                    </div>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="creator in base.creators">
                    <op-creator-square data="creator" ui-sref="creatorProfile({id: creator.id})"></op-creator-square>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/brand.jpg" alt width="61" height="15">
                    <ul class="footer-links">
                        <li>
                            <a href="/">精选</a>
                        </li>
                        <li>
                            <a href="/">关于我们</a>
                        </li>
                        <li>
                            <a href="/">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 footer-right">
                    <ul class="social">
                        <li>链接</li>
                        <li>
                            <a href="/" target="_blank">
                                <img src="static/images/icon-facebook.png" target="_blank" alt width="24">
                            </a>
                        </li>
                        <li>
                            <a href="/" target="_blank">
                                <img src="static/images/icon-twitter.png" target="_blank" alt width="24">
                            </a>
                        </li>
                    </ul>
                    <p class="f-text">
                        <a href="/" target="_blank">中国影视广告网</a>
                        <br>
                        <a href="/" target="_blank">上海XX信息技术有限公司</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="copy-right-sec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">© 2015 AdPushup, Inc. |  All Right Reserved</div>
                    <div class="col-sm-6 copy-col-right"></div>
                </div>
            </div>
        </div>
    </footer>
</div>