.work-grid {
    padding-bottom: 17px;
    a>img {
        // width: 300px;
        height: 220px;
    }
    .art-cover {
        display: none;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 17px;
        padding: 4%;
        background: url(/static/images/exp-cover-hover.png);
        background-image: -webkit-image-set(url(/static/images/exp-cover-hover.png) 1x,url(/static/images/exp-cover-hover_2x.png) 2x);
        &:hover {
            display: block;
        }
        .text-info {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            text-align: center;
            .title {
                display: block;
                font-size: 15px;
                color: #fff;
                margin-bottom: 6%;
                margin-top: 6%;
            }
            .author {
                padding-top: 4px;
                max-width: 160px;
                .author-text {
                    font-size: 12px;
                    color: rgb(50, 168, 255);
                }
            }
        }
    }
}