<div class="work-grid">
    <a href="#" target="_blank" title="{{data.title}}" ui-sref="videoDescription({id: data._id})">
        <img class="stage-photo" src="/static/images/works/{{data.poster}}" width="100%" height="100%" alt="">
        <span class="art-cover">
            <span class="ref"></span>
            <span class="text-info">
                <img src="/static/images/art-icon.png" width="21" alt="作品">
                <span class="title">{{data.title}}</span>
                <span class="author">
                    <span class="author-text">{{data.creator.nickname}}</span>
                    <img src="/static/images/v-role.png" width="12" height="12"  title="认证用户">
                </span>
            </span>
        </span>
    </a>
</div>