.creator-square {
    width: 100%;
    padding: 15px 18px 20px;
    display: inline-block;
    border-radius: 2px;

    .square-img {
        width: 90px;
        height: 90px;
        position: relative;
        float: left;
        margin-right: 8px;
    }
    .square-info {
        line-height: 20px;
        font-size: 12px;
        margin: 1px 0 0 0;
        .square-h {
            font-size: 15px;
            margin-top: 12px;
        }
        .square-role {
            color: #123;
            margin-top: 4px;
        }
        .square-intro {
            margin-top: 5px;
            height: 25px;
        }
    }
}