<div class="creator-square">
    <div class="square-img inb">
        <a href="#" target="_blank">
            <img src="/static/images/{{data.imgUrl}}" width="90" height="90">
        </a>
    </div>
    <div class="square-info">
        <div class="square-h">
            <a href="#" target="_blank">{{data.name}}</a>
            <a href="#" target="_blank">V</a>
        </div>
        <div class="square-role">
            <span>{{data.role}} / {{data.location}}</span>
        </div>
        <div class="square-intro">
            <span title="{{data.intro}}">{{data.intro}}</span>
        </div>
    </div>
</div>