<div class="creator-square">
    <div class="square-img inb">
        <op-avatar data="data" radius="middle"></op-avatar>
    </div>
    <div class="square-info">
        <div class="square-h">
            <a href="#" ui-sref="show({id: data._id, role: data.role})">{{data.nickname}}</a>
            <a href="#" target="_blank">
                <img src="/static/images/v-role.png" width="20" height="20">
            </a>
        </div>
        <div class="square-role">
            <span>{{data.type}} / {{data.location}}</span>
        </div>
        <div class="square-intro">
            <span title="{{data.intro}}">{{data.intro}}</span>
        </div>
    </div>
</div>