.index {
    .title {
        color: #000;
        margin-bottom: 15px;
        font-size: 34px;
        font-weight: bold;
        font-family: 'Arial';
        .sub-title {
            margin-top: 5px;
            margin-left: 75px;
            font-size: 14px;
            font-weight: normal;
        }
    }
    .creator-section {
        padding-top: 20px;
        .creator-square {
            background-color: #e5e5e5;
            margin-bottom: 17px;
        }
    }
    .work-section {
        padding-top: 20px;
        .work {
            margin-bottom: 17px;
        }
    }
    .actor-section {
        padding-top: 20px;
        .slide-arrow {
            // display: none;
            position: absolute;
            width: 31px;
            height: 78px;
            top: 132px;
            z-index: 6;
            color: #000;
            cursor: pointer;
            &.prev {
                left: 15px;
                background: url(/static/images/lout.png);
            }
            &.next {
                right: 25px;
                background: url(/static/images/rout.png);
            }
        }
    }
}